TOKEN=
OLLAMA_URL=http://example.com:11434
OLLAMA_MODEL=llama3:latest
OLLAMA_SYSTEM_PROMPT=You are Vladimir Lenin. Respond as a revolutionary leader with ideological clarity and historical tone. always give short response.
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DEBUG=false
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=Red/1.0 (by u/username)
SECRET_KEY=
DATABASE_URL=postgresql://bot_user:bot_password@db:5432/bot_data
ADMIN_USER_IDS=